* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
}

/***************************/
/* HEADER */
/***************************/

#header-container {
    background-color: #ffd54f;
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 110px;
    z-index: 20;
    transition: 0.3s ease;
    flex-wrap: wrap;
}

#header {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 1200px;
}

#hamburger-dropdown {
    display: none;
    flex-direction: column;
    text-align: right;
    justify-content: flex-end;
    width: 100%;
    background-color: #fff59d;
    margin-top: -10px;
    z-index: -10;
}

#hamburger-dropdown a {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 50px;
    font-weight: 600;
    color: inherit;
}

.nav-link {
    padding: 70px 40px 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.3s;
    color: inherit;
    text-decoration: none;
}

.nav-link:hover {
    cursor: pointer;
    background-color: #464646;
    color: #ffd54f;
}

.nav-link.hidden {
    align-self: flex-end;
}

div#logo {
    content: url(images/kinemat_logo.png);
    max-width: 25%;
    padding: 10px;
    margin-bottom: -100px;
    padding: 15px;
    background-color: #ffd54f;
    border-radius: 50%;
    height: 180px;
    transition: height 0.3s ease-out;
}

#header > h1 {
    display: none;
    font-size: 10vw;
    font-family: "Righteous", sans-serif;
    text-transform: uppercase;
    font-style: italic;
    font-weight: normal;
    color: #1b1b1b;
    flex: 3 0 0;
}

#hamburger {
    display: none;
    flex: 1 0 0;
    background-color: transparent;
    border: none;
}

#hamburger img {
    width: 50%;
}

.anchor {
    padding-top: 50px;
    margin-top: -50px;
}

@media screen and (max-width: 1000px) {
    div#logo {
        max-width: 135px;
        height: auto;
        margin-bottom: -70px;
    }
}

/* Mobile breakpoint */
@media screen and (max-width: 800px) {
    .nav-link {
        display: none;
    }

    #hamburger {
        display: inline;
    }

    #header-container {
        height: 13.7vw;
    }

    #header {
        align-items: center;
        justify-content: flex-start;
    }

    #header > h1 {
        display: inline;
    }

    div#logo {
        max-width: 12.5vw;
        margin-bottom: -15px;
        flex: 1 0 0;
    }

    .title {
        width: 100px;
    }
}

@media screen and (max-width: 500px) {
    div#logo {
        max-width: 63px;
    }
    
    #header > h1 {
        font-size: 40px;
    }

    #header-container {
        height: 68.5px;
    }
}


/***************************/
/* CARROUSEL */
/***************************/

.carrousel {
    display: flex;
    align-items: center;
    width: 1200px;
    padding-top: 130px;
}

.carrousel-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 650px;
}

.title {
    z-index: 10;
    position: absolute;
    top: 50px;
    left: 80px;
    font-family: "Righteous", sans-serif;
    text-transform: uppercase;
    font-style: italic;
    font-weight: normal;
    text-align: center;
    width: 400px;
    animation: slide 2s ease 500ms 1 forwards;
}

@keyframes slide {
    from {left: 80px;}
    to {left: 120px;}
}

.title h1 {
    font-size: 70px;
    margin-bottom: -35px;
}

.carrousel-slide {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 800ms, opacity 800ms;
}

.carrousel-slide.visible {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 800ms;
}

.carrousel img {
    max-width: 100%;
    width: 1200px;
    touch-action: pan-right;
}

#button-left, #button-right {
    display: flex;
    cursor: pointer;
    font-weight: bold;
    font-size: 30px;
    user-select: none;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    border-radius: 0 3px 3px 0;
}

#button-left:hover, #button-right:hover {
    background-color: #ccc;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 2px;
    background-color: #bbb;
    display: inline-block;
    border-radius: 50%;
}

.dot-nav {
    text-align: center;
    padding: 10px 0;
}

.dot.active {
    background-color: #717171;
}

.title h2 {
    font-size: 115px;
}

.title h3 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 60px;
    font-weight: 400;
    line-height: 1;
}

@media screen and (max-width: 1200px) {
    .carrousel-container {
        height: 54vw;
    }

    .title {
        width: 100px;
    }

    .title h1 {
        font-size: 5.8vw;
    }

    .title h2 {
        font-size: 9.6vw;
    }

    .title h3 {
        font-size: 5vw;
    }
}

@media screen and (max-width: 1000px) {
    .title {
        top: 3.5vw;
    }

    .title h1 {
        margin-bottom: -2.8vw;
    }
}

/* Mobile breakpoint */
@media screen and (max-width: 800px) {
    #button-left, #button-right {
        display: none;
    }

    .dot-nav {
        margin-top: 30px;
    }

    .carrousel {
        padding-top: 100px;
    }

    .title {
        top: 5.5vw;
        margin-left: -75px;
    }

    .title h1 {
        margin-bottom: -2.8vw;
    }

    .title h3 {
        margin-top: 10px;
    }
}

/***************************/
/* FEATURES */
/***************************/

#features {
    background: #1b1b1b;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.feature-row {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.col {
    text-align: center;
}

.col#col-img {
    flex: 2 2;
}

#col-img img {
    width: 85%;
}

.col#col-txt {
    width: 400px;
    flex: 2 1 0;
    line-height: 1.5;
}

.col#col-txt:nth-child(even) {
    border-left: solid 5px gray;
}

.col#col-txt:nth-child(odd) {
    border-right: solid 5px gray;
}

.icon {
    font-size: 50px;
}

.feature-header {
    padding: 50px 0;
    width: 600px;
}

.feature-header p {
    text-align: justify;
    padding: 20px 0;
}

#features h1 {
    text-align: center;
    font-size: 70px;
    font-family: "Righteous", cursive;
    text-transform: uppercase;
    font-style: italic;
    font-weight: normal;
    color: #fff;
}

#features h2.subtitle {
    margin-top: -10px;
    font-size: 40px;
    font-weight: 200;
}

#features h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-size: 35px;
    font-weight: 200;
    padding-bottom: 10px;
}

#features p {
    font-family: 'Montserrat', sans-serif;
    color: white;
    line-height: 1.5;
    font-weight: 200;
    text-align: justify;
    margin: 0 20px;
}

/* Mobile breakpoint */
@media screen and (max-width: 800px) {
    .feature-row {
        display: flex;
        flex-direction: column;
    }

    .feature-row:nth-child(even) {
        flex-direction: column-reverse;
    }

    .feature-header {
        width: 85%;
        padding: 30px 0;
    }

    .col#col-txt:nth-child(even), .col#col-txt:nth-child(odd) {
        border-left: none;
        border-right: none;
    }

    .col#col-txt {
        width: 85%;
        padding-bottom: 30px;
    }
}

/***************************/
/* CONTACT */
/***************************/

#contact {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-wrap: wrap;
    background-image: url(images/slider_background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px 0;
}

#contact-container {
    margin: 15px;
    background-color: rgba(255,255,255,0.6);
    border-radius: 5px;
}

#contact-container h2 {
    padding: 20px 10px;
    text-transform: uppercase;
    color: white;
    font-size: 50px;
    font-weight: 200;
    letter-spacing: 2px; 
}

#contact-cols {
    display: flex;
}

#contact-cols #contact-info, #contact-form {
    background-color: rgba(255,255,255,0.6);
    border-radius: 5px;
    margin: 5px;
}

#contact-cols #contact-info {
    padding: 7px 0;
}

#contact-form input, textarea {
    width: 100%;
    padding: 7px;
    font-size: 1em;
    font-family: inherit;
    border-radius: 3px;
    border: none;
    box-sizing: border-box;
    resize: none;
}

.contact-row {
    display: flex;
    padding: 20px 10px 0;
}

.contact-row > div {
    width: 100%;
    margin: 0 10px;
}

.contact-row > div > p {
    padding-bottom: 5px;
}

#contact-form input[type='submit'] {
    padding: 10px;
    margin: 0 10px 10px;
    background-color: #ffd54f;
    font-weight: 600;
}

#contact-form input[type='submit']:hover {
    cursor: pointer;
    background-color: #2FA14F;
    color: #fff;
}

#contact-form textarea {
    width: 100%;
}

#contact-form p {
    color: #1b1b1b;
}

#confirmation {
    display: none;
    text-align: center;
    padding: 15px;
    background-color: palegreen;
    border: thin solid seagreen;
}

#confirmation p {
    color: seagreen;
}

@media screen and (max-width: 1415px) {
    #contact {
        background-size: cover;
    }
}

/* Mobile breakpoint */
@media screen and (max-width: 800px) {
    #contact-cols {
        flex-direction: column;
    }

    #contact-form {
        padding-right: 20px;
    }

    #contact-form .contact-row {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    #contact-form .contact-row div {
        padding: 5px 0;
    }
}

/***************************/
/* PRICING */
/***************************/

#pricing {
    padding: 50px 0;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

#price-table {
    max-width: 1200px;
    border-collapse: collapse;
}

@media screen and (max-width: 1200px) {
    #price-table {
        max-width: 90vw;
    }
}

#price-table th, tr, td {
    border-bottom: 1px solid #1b1b1b;
    padding: 15px;
}

#price-table th h2 {
    font-family: "Righteous", sans-serif;
    font-style: italic;
    font-size: 50px;
}

#price-table th > img:hover, td > img:hover {
    transform: scale(1.2);
}

#price-table th > img {
    width: 100%;
}

#price-table td > img {
    width: 50%;
}


#price-table td:not(:first-child) {
    text-align: center;
}

#price-table td:first-child {
    width: 20%;
    font-weight: 600;
}

.mobile-label {
    display: none;
}

/* Mobile breakpoint */
@media screen and (max-width: 800px) {
    #price-table td:first-child, th:first-child {
        display: none;
    }

    .mobile-label {
        display: inline;
        font-weight: 600;
    }
}

/***************************/
/* INSTAGRAM */
/***************************/

#news-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: #f0f0f0;
    padding: 50px 0;
}

#insta-feed {
    display: flex;
}

#insta-header {
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#insta-header img {
    vertical-align: middle;
}

#insta-header h2 {
    font-weight: 400;
}

.card {
    max-width: 300px;
    width: 100%;
    padding: 10px;
    margin: 5px;
    background-color: #fff;
    border-radius: 5px;
}

.card img {
    width: 100%;
    border-radius: 5px;
}

.card p {
    padding: 10px 0;
}

.card #date {
    font-weight: 600;
}

@media screen and (max-width: 1200px) {
    #insta-header {
        width: 90vw;
    }

    #insta-feed {
        padding: 0 15px;
    }
}

/* Mobile breakpoint */
@media screen and (max-width: 800px) {
    #insta-feed {
        flex-wrap: wrap;
        justify-content: center;
    }
}

/***************************/
/* FOOTER */
/***************************/

#footer {
    background-color: #A0A0A0;
    padding: 20px;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
}

/***************************/
/* TOP SCROLL */
/***************************/

#top-scroll {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}